<div class="columns is-centered">
  <!-- Left -->
  <div class="column is-3-desktop is-4-tablet is-full-mobile">
    <div class="box">
      <div class="menu">
        <ul class="menu-list">
          <li>
            <a [routerLink]="['/users/user']">
              <span class="icon">
                <i class="bx bx-user"></i>
              </span>
              <span>My profile</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/users/password']">
              <span class="icon">
                <i class="bx bx-lock"></i>
              </span>
              <span>Passwords</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Main -->
  <div class="column is-6-desktop is-8-tablet is-full-mobile">
    <div class="box">
      <!-- Success message -->
      @if (isSuccess){
        <div class="notification is-success">
          <button class="delete" (click)="isSuccess = false"></button>
          <p>Your password was updated successfully</p>
        </div>
      }
      <!-- Error message -->
      @if (isError){
        <div class="notification is-danger">
          <button class="delete" (click)="isError = false"></button>
          <p>Something went wrong! Please try again later</p>
        </div>
      }
      <!-- Header -->
      <div class="block">
        <p class="title is-3">Password</p>
      </div>
      <!-- form -->
      <div class="block">
        <form [formGroup]="form" (submit)="onFormSubmit()">
          <!-- Password -->
          <div class="field">
            <label class="label">New password</label>
            <div class="control">
              <input
                [class.is-danger]="form.get('password')?.touched && !form.get('password')?.valid"
                [class.is-success]="form.get('password')?.touched && form.get('password')?.valid"
                formControlName="password"
                type="password"
                placeholder="Enter your new password"
                class="input">
            </div>
            @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be empty</span>
              </p>
            }
            @if (form.get('password')?.touched && form.get('password')?.hasError("minlength")){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>Your password should contain at least 8 characters</span>
              </p>
            }
          </div>

          <!-- Buttons -->
          <div class="buttons">
            <button
              [disabled]="!form.valid"
              [class.is-loading]="isFormLoading"
              type="submit"
              class="button is-primary">
              Change password
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
