<div class="columns is-centered">
  <div class="column is-4-desktop is-8-tablet is-full-mobile">
    <!-- Errors -->
    @if(isAlreadyExist){
      <div class="block">
        <div class="notification is-danger">
          <p>The user with a given email address already exist!</p>
        </div>
      </div>
    }
    <!-- Error: general error -->
    @if(isError){
      <div class="block">
        <div class="notification is-danger">
          <p>Something went wrong. Please try again later</p>
        </div>
      </div>
    }
    <!-- Header -->
    <div class="block has-text-centered">
      <p class="title is-3">Start tracking your expenses today</p>
      <p class="subtitle is-5">It just take a moment to create an account</p>
    </div>
    <!-- Form -->
    <div class="block">
      <div class="box">
        <form [formGroup]="form" (submit)="onFormSubmit()">
          <!-- First name -->
          <div class="field">
            <label class="label">First name</label>
            <div class="control">
              <input
                [class.is-danger]="form.get('firstName')?.touched && !form.get('firstName')?.valid"
                [class.is-success]="form.get('firstName')?.touched && form.get('firstName')?.valid"
                formControlName="firstName"
                type="text"
                placeholder="Enter your first name"
                class="input">
            </div>
            @if (form.get('firstName')?.touched && form.get('firstName')?.hasError('required')) {
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be empty</span>
              </p>
            }
          </div>

          <!-- Last name -->
          <div class="field">
            <label class="label">Last name</label>
            <div class="control">
              <input
                [class.is-danger]="form.get('lastName')?.touched && !form.get('lastName')?.valid"
                [class.is-success]="form.get('lastName')?.touched && form.get('lastName')?.valid"
                formControlName="lastName"
                type="text"
                placeholder="Enter your last name"
                class="input">
            </div>
            @if (form.get('lastName')?.touched && form.get('lastName')?.hasError('required')) {
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be empty</span>
              </p>
            }
          </div>

          <!-- Email address -->
          <div class="field">
            <label class="label">Email address</label>
            <div class="control">
              <input
                [class.is-danger]="form.get('email')?.touched && !form.get('email')?.valid"
                [class.is-success]="form.get('email')?.touched && form.get('email')?.valid"
                formControlName="email"
                type="text"
                placeholder="Enter your email address"
                class="input">
            </div>
            @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be empty</span>
              </p>
            }
            @if (form.get('email')?.touched && form.get('email')?.hasError('email')){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>Please provide a valid email address</span>
              </p>
            }
          </div>

          <!-- Password -->
          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-right">
              <input
                [class.is-danger]="form.get('password')?.touched && !form.get('password')?.valid"
                [class.is-success]="form.get('password')?.touched && form.get('password')?.valid"
                formControlName="password"
                [type]="isShowPassword ? 'text' : 'password'"
                placeholder="Enter your password"
                class="input">
              <span class="icon is-right is-clickable" (click)="isShowPassword = !isShowPassword">
                @if (isShowPassword) {
                  <i class="bx bx-low-vision"></i>
                } @else {
                  <i class="bx bx-show"></i>
                }
              </span>
            </div>
            @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>This field cannot be empty</span>
              </p>
            }
            @if (form.get('password')?.touched && form.get('password')?.hasError("minlength")){
              <p class="help is-danger">
                <span class="icon">
                  <i class="bx bx-error"></i>
                </span>
                <span>Your password should contain at least 8 characters</span>
              </p>
            }
          </div>
          <!-- Submit -->
          <div class="buttons">
            <button
              [disabled]="!form.valid"
              [class.is-loading]="isFormLoading"
              class="button is-primary is-fullwidth">Create an account</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Footer -->
    <div class="block">
      <div class="box">
        <p class="has-text-centered block">Do you have an account already?</p>
        <a [routerLink]="['/auth/login']" class="button is-fullwidth">Log in</a>
      </div>
    </div>
  </div>
</div>
