@if (operation != undefined){
  <div class="card card-content">
    <div class="level">
      <!-- Left -->
      <div class="level-left">

        <div class="level-item">
          <div>
            <!-- Description -->
            <p class="is-size-5">{{operation.description}}</p>
            <!-- Date and amount -->
            <p>
              <span
                [class.has-text-danger]="operation.operationType == 'EXPENSE'"
                [class.has-text-success]="operation.operationType == 'INCOME'"
                class="has-text-weight-semibold">{{operation.amount|currency:operation.currency!.code}}</span>
              <span> - </span>
              <span>{{operation.date|date}}</span>
            </p>
            <!-- Account -->
            <p>
              <span class="tag is-medium">
                {{operation.account?.name}}
              </span>
            </p>
          </div>
        </div>

      </div>
      <!-- Right /actions -->
      <div class="level-right">
        <div class="level-item">
          <div class="buttons">
            <!-- Edit action -->
            <a class="button" [routerLink]="['/operation', operation.id!]">
              <span class="icon">
                <i class="bx bx-edit-alt"></i>
              </span>
            </a>
            <!-- Delete action -->
            <button class="button is-danger is-outlined" type="button" (click)="onDelete()">
              <span class="icon">
                <i class="bx bx-trash-alt"></i>
              </span>
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
}
